<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Mundo Juegos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="container mt-5">
    <header class="text-center mb-4">
        <div class="alert">Bienvenido a !MUNDO JUEGOS&#x1F3AE;¡</div>
        <h1 class="title">Explora Nuestra Colección de Juegos</h1>
    </header>

    <section class="description text-center mb-4">
        <p>Sumérgete en un mundo lleno de diversión y entretenimiento. Descubre juegos para todas las edades y gustos.</p>
    </section>

    <div class="text-center mb-4">
        <a href="/juegos" class="btn">JUEGOS</a>
    </div>

    <footer class="text-center mt-5">
        <p>
            Síguenos en nuestras redes sociales:
            <a href="www.instagram.com/mundojuegos.cl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="btn">Instagram</a> |
            <a href="www.facebook.com/p/Mundo-juegos-100063638557287/" class="btn">Facebook</a> |
            <a href="www.tiktok.com/@mundojuegos3" class="btn">TikTok</a>
        </p>
    </footer>
</body>
</html>
